@model MaxFactry.General.AspNet.IIS.Mvc4.PresentationLayer.MaxSecurityResetPasswordViewModel

<p>This is a reset code for user @(Model.UserName).</p>

<p>Enter code @(Model.UserAuthCode) in the reset password form.</p>
