You have been logged out.
<ul>
    <li>@Html.ActionLink("Log In", "login", "MaxSecurity", routeValues: new { ReturnUrl = Request.Url }, htmlAttributes: new { id = "udLogInLink" })</li>
    <li>@Html.ActionLink("Sign Up", "signup", "MaxSecurity", routeValues: new { ReturnUrl = Request.Url }, htmlAttributes: new { id = "udSignUpLink" })</li>
</ul>
