@{
    ViewBag.Title = "Home Page - ";
    ViewBag.MetaKeywords = "template, original, start";
    ViewBag.MetaDescription = "Home page template for Mvc4 Web Application based on MaxFactry.";
    
}

<h1>MaxFactry Auth Module</h1>

<p>Supports basic Oath2</p>
        
