<?xml version="1.0"?>
<configuration>
  <!--
  Add this to the site web.config
  -->
  <location path="MaxFileManage/File">
    <system.web>
      <!--
        Set maxRequestLength to 2097151 which is about 200 MB.
        -->
      <httpRuntime executionTimeout="1800" maxRequestLength="2097151" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!--
          http://www.iis.net/configreference/system.webserver/security/requestfiltering/requestlimits
          Set to 300000000 which is 10 times the default of 30000000, which is approximately 28.6MB, so new setting should allow up to 286MB.
          -->
          <requestLimits maxAllowedContentLength="300000000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
