@{
    ViewBag.Title = "Home Page - ";
    ViewBag.MetaKeywords = "template, original, start";
    ViewBag.MetaDescription = "Home page template for Mvc4 Web Application based on MaxFactry.";
    
}


<h1>MaxFactry File Module</h1>

<div>Welcome to the MaxFactry File Module.</div>

<div>The MaxFactry File Module allows you to manage files for your web app.</div>

<div>Use the navigation links at the top.</div>

<div>This entire module should be accessed using and SSL connection.</div>
        
