<li class="dropdown">
    <a href="#">Sections <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="/MaxSecurity/">Security</a>
        </li>
        <li>
            <a href="/MaxFileManage/">Files</a>
        </li>
    </ul>
</li>
